body{
	background-color: #000;
	color: white;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Comfortaa', cursive;
}


/* Style for tabs */
#main {
  background:#181818;
  color:#111;
  padding:15px 20px;
  width: 80%;
  border:1px solid #222;
  margin:8px auto;
}
#main > li, #main > ul > li { list-style:none; float:left; }
#main ul a {
  display:block;
  padding:6px 10px;
	font-family: 'Comfortaa', cursive;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  color:#FFF;
  background:#444;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
}
#main ul a:hover {
  color:#FFF;
  background:#111;
  }
#main ul a.selected {
  margin-bottom:0;
  color:#000;
  background:snow;
  border-bottom:1px solid snow;
  cursor:default;
  }
#main div {
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  background:snow;
  height: 300px ;
}
#main div a { color:#000; font-weight:bold; }

/* Style for bottom buttons */

button {
	margin-bottom: 0.5em;
	border-radius: 0.25em;
	padding: 0.5em;
}

button:hover {
	background-color: #BBB;
}

#btnStart {
	display: none;
}

#btnStop {
}

/* Image styles */
img {
max-width: 100%;
border: 2px solid black;
border-radius: 0.25em;
}

#about {
	text-align: center;
	margin: auto;
}
